@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    cursor: auto;
    text-decoration: none;
}

a, .hro-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.footer, .section-1 {
    background-color: #1f2937;
}

/* Section 1 */

.section-1 {
    display: flex;
    flex-flow: column;
    background-color: #1f2937;
    width: 100%;
}

.header {
    margin: auto;
    margin-top: 4px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
}

.container-1 {
    margin: auto;
    width: 80%;
    padding: 115px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    max-width: 1400px;
}

.hro-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hdr-logo {
    font-weight: bold;
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
}

.button-1 {
    background-color: #3882f6;
    color: aliceblue;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    padding: 6px 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.left-side {
    padding: 110px 130px;
    background-color: rgba(131, 141, 161, 0.89);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.footer {
    color: aliceblue;
}

/* Section 2 */

.section-2 {
    padding: 200px;
    padding-top: 50px;
    padding-inline: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.container-2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: 44px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.display {
    display: flex;
    gap: 72px;
    justify-content: center;
}

.illust-container {
    display: flex;
    flex-flow: column;
    flex-basis: 0;
    gap: 8px;
}

.illust {
    padding: 80px;
    border: solid #3882f6 4px;
    border-radius: 12px;
}

.under-illust {
    text-align: center;
    color: #474747;
}

/* Section 3 */

.section-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    width: 100%;
}

.container-3 {
    background-color: #e5e7eb;
    padding: 174px;
    max-width: 900px;
}

.text-1 {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 200;
}

.quote {
    color: #1f2937;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

/* Call to action */

.container-4 {
    display: flex;
    padding: 140px;
    justify-content: space-between;
    background-color: white;
    width: inherit;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    padding: 0px 20px;
    border-radius: 10px;
    display: flex;
}

.container-4-2 {
    display: flex;
    padding: 65px;
    justify-content: space-between;
}

.text-2 {
    width: 50%;
    color: aliceblue;
}

.text-3 {
    font-weight: bolder;
    font-size: 24px;
}

.text-4 {
    font-size: 24px;
}

.button-2 {
        background-color: #3882f6;
        color: aliceblue;
        border-radius: 8px;
        border-style: solid;
        border-color: aliceblue;
        border-width: 4px;
        font-size: 18px;
        padding: 2px 24px;
        font-weight: bold;
}

/* Footer */

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px;
}

/* Note to myself: The layout isn't responsive, remember to
research how to fix that later. */